<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/plan/form}" class="btn btn-primary">crear Plan</a>
				</h4>

				<table class="table table-striped">
					<thead>
						<tr>
						<th>ID</th>
							<th>DESCRIPCION</th>
							<th>CANT HORAS</th>
							<th>PRECIO</th>		
						</tr>
					</thead>
					<tbody>
						<tr th:each="plan: ${lista}">
						<td th:text="${plan.id}"></td>
							<td th:text="${plan.descripcion}"></td>
							<td th:text="${plan.cantHoras}"></td>
							<td th:text="${plan.precio}"></td>					
						</tr>
					</tbody>

				</table>
				
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>