<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div >
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<div th:object="${auto}"></div>
				<form th:action="@{/auto/form}" th:object="${auto}" method="post">
				<input type="hidden" th:field="*{id}"/>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Placa</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{placa}" class="form-control" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Marca</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{marca}" class="form-control" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Modelo</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{modelo}" class="form-control" />
						</div>
					</div>
					
					

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Registrar auto"
								class="btn btn-secondary" />
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>