<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<h4 class="card-title">
			<a th:href="@{/auto/form}" class="btn btn-primary">Registrar Auto</a>
		</h4>
		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
		<div class="card bg-light">

			<div class="card-body">



				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>PLACA</th>
							<th>MARCA</th>
							<th>MODELO</th>
							<th>FEC REGISTRO</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="auto: ${lista}">
							<td th:text="${auto.id}"></td>
							<td th:text="${auto.placa}"></td>
							<td th:text="${auto.marca}"></td>
							<td th:text="${auto.modelo}"></td>
							<td th:text="${auto.fecRegistro}"></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/auto/form/} + ${auto.id}" th:text="'editar'"></a></td>
							<td><a class="btn btn-danger btn-sm"
								th:href="@{/auto/eliminar/} + ${auto.id}" th:text="'eliminar'"
								onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>