<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<h4 class="card-title">
			<a sec:authorize="hasRole('ADMIN')" th:href="@{/instructor/form}"
				class="btn btn-primary">Registrar Instructor</a>
		</h4>
		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
			
		<div class="card bg-light">
			<div class="card-header"></div>
			<div class="card-body">
			<!-- Tabla -->
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Dni</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Dirección</th>
							<th>Teléfono</th>
							<th>Fec Registro</th>
							<th sec:authorize="hasRole('ADMIN')">Editar</th>
							<th sec:authorize="hasRole('ADMIN')">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="instructor: ${lista}">
							<td th:text="${instructor.id}"></td>
							<td th:text="${instructor.dni}"></td>
							<td th:text="${instructor.nombre}"></td>
							<td th:text="${instructor.apellido}"></td>
							<td th:text="${instructor.direccion}"></td>
							<td th:text="${instructor.telefono}"></td>
							<td th:text="${instructor.fecRegistro}"></td>

							<td sec:authorize="hasRole('ADMIN')"><a
								class="btn btn-primary btn-sm"
								th:href="@{/instructor/form/} + ${instructor.id}"
								th:text="'editar'"></a></td>

							<td sec:authorize="hasRole('ADMIN')"><a
								class="btn btn-danger btn-sm"
								th:href="@{/instructor/eliminar/} + ${instructor.id}"
								th:text="'eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
				<!-- Fin tabla -->

				<!-- Pagination -->
				<nav th:replace="/layout/layout :: paginator"></nav>
				<!-- End pagination -->

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>