<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/instructor/form}" class="btn btn-primary">Registrar Instructor</a>
				</h4>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>NOMBRE</th>
							<th>APELLIDO</th>		
							<th>DIRECCIÓN</th>
							<th>TELÉFONO</th>
							<th>FEC REGISTRO</th>	
						</tr>
					</thead>
					<tbody>
						<tr th:each="instructor: ${lista}">
							<td th:text="${instructor.id}"></td>
							<td th:text="${instructor.dni}"></td>
							<td th:text="${instructor.nombre}"></td>		
							<td th:text="${instructor.apellido}"></td>
							<td th:text="${instructor.direccion}"></td>
							<td th:text="${instructor.telefono}"></td>
							<td th:text="${instructor.fecRegistro}"></td>				
						</tr>
					</tbody>

				</table>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>