<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container" align="center">
	
	
	<h2 class="h2"><a th:href="@{/alumno/form}" >Registro de alumnos</a></h2>
	<h2 class="h2"><a th:href="@{/plan/form}" >Registro de Plan de estudios</a></h2>
	<h2 class="h2"><a th:href="@{/instructor/form}" >Registro de Instructores</a></h2>
	<h2 class="h2"><a th:href="@{/auto/form}" >Registro de autos</a></h2>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>