<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container">
	
	
	<h2 class="h2"><a th:href="@{/alumnos/form}" >Registro de alumnos</a></h2>
	<h2 class="h2"><a th:href="@{/plan/form}" >Registro de alumnos</a></h2>
	<h2 class="h2"><a th:href="@{/alumnos/form}" >Registro de alumnos</a></h2>
	<h2 class="h2"><a th:href="@{/alumnos/form}" >Registro de alumnos</a></h2>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>