<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/alumnos/form}" class="btn btn-primary">Registrar Alumno</a>
				</h4>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>DNI</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Fecha Nac</th>
							<th>Fecha Mat</th>
							<th>Género</th>
							<th>Telefono</th>
							<th>Plan</th>
							<th>Editar</th>
							<th>Eliminar</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="alumno: ${listaAlumnos}">
							<td th:text="${alumno.id}"></td>
							<td th:text="${alumno.dni}"></td>
							<td th:text="${alumno.nombre}"></td>
							<td th:text="${alumno.apellido}"></td>
							<td th:text="${alumno.fecNac}"></td>
							<td th:text="${alumno.fecMatricula}"></td>
							<td th:text="${alumno.genero}"></td>
							<td th:text="${alumno.telefono}"></td>
							<td th:text="${alumno.planes}"></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/alumnos/form/} + ${alumno.id}" th:text="'editar'"></a></td>
							<td><a class="btn btn-danger btn-sm"
								th:href="@{/alumnos/eliminar/} + ${alumno.id}" th:text="'eliminar'"
								onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>

						</tr>
					</tbody>

				</table>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>