<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<h4 class="card-title">
			<a sec:authorize="hasRole('ADMIN')" th:href="@{/alumno/form}" class="btn btn-primary">Registrar
				Alumno</a>
		</h4>

		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>

		<div class="card bg-light">
			<div class="card-header"></div>
			<div class="card-body">



				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>DNI</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Genero</th>
							<th>Telefono</th>
							<th>Detalle</th>
							<th sec:authorize="hasRole('ADMIN')">Editar</th>
							<th sec:authorize="hasRole('ADMIN')">Eliminar</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="alumno: ${listaAlumnos}">
							<td th:text="${alumno.id}"></td>
							<td th:text="${alumno.dni}"></td>
							<td th:text="${alumno.nombre}"></td>
							<td th:text="${alumno.apellido}"></td>
							<td th:text="${alumno.genero}"></td>
							<td th:text="${alumno.telefono}"></td>


							<td ><a class="btn btn-primary btn-sm"
								th:href="@{/alumno/ver/} + ${alumno.id}" th:text="'Detalle'"></a></td>

							<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-primary btn-sm"
								th:href="@{/alumno/form/} + ${alumno.id}" th:text="'editar'"></a></td>

							<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger btn-sm"
								th:href="@{/alumno/eliminar/} + ${alumno.id}"
								th:text="'eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>

						</tr>
					</tbody>

				</table>
				
			<!-- Pagination -->
			<nav th:replace="/layout/layout :: paginator" ></nav>
			<!-- End pagination -->
				
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>